<div class="header_top">
  <div class="container">
    <div class="top_menu hidden-ms hidden-xs">
      {% if section.settings.logo != blank %}
        <a class="navbar-brand" href="/" itemprop="url">
          <img src="{{ section.settings.logo | img_url: '550x' }}" alt="{{ shop.name }}" class="img-responsive" itemprop="logo" />
        </a>
      {% else %}
        <a class="navbar-brand text-logo" href="/" itemscope itemtype="http://schema.org/Organization">{{ shop.name }}</a>
      {% endif %}
    </div>
    <div class="hed_right">
      {% if section.settings.heading_content != 'none' or settings.show_multiple_currencies %}
      <ul>
        {% if section.settings.heading_content == 'links' %}
        {% for link in linklists[section.settings.header_top_linklist].links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% else %}
        <li>{{ 'general.header.no_links' | t }}</li>
        {% endfor %}
        {% elsif section.settings.heading_content == 'text' and section.settings.header_top_text != blank %}
        <li><span class="header-top-text">{{ section.settings.header_top_text }}</span></li>
        {% endif %}
        {% if settings.show_multiple_currencies %}
        {% include 'currencies-switcher' %}
        {% endif %}
      </ul>
      {% endif %}
      {% if section.settings.header_phone != blank or section.settings.header_email != blank %}
      <div class="header-contact">
        <ul>
          {% if section.settings.header_phone != blank %}
          <li><a href="tel:{{ section.settings.header_phone }}"><span class="fa fa-phone"></span>{{ section.settings.header_phone }}</a></li>
          {% endif %}
          {% if section.settings.header_email != blank %}
          <li><a href="mailto:{{ section.settings.header_email }}"><span class="fa fa-envelope"></span>{{ section.settings.header_email }}</a></li>
          {% endif %}
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
</div>