<div id="nav">
  <nav class="navbar{% if customer %} after_login_navbar{% endif %}" role="navigation">
    <div class="navbar-header">
      <a href="#" class="visible-ms visible-xs pull-right navbar-cart" id="wsnavtoggle"><div class="cart-icon"><i class="fa fa-bars"></i></div></a>
      <a href="#" class="visible-ms visible-xs pull-right navbar-cart">
      {% comment %}
      {% if settings.show_multiple_currencies %}
      {% include 'currencies-switcher' %}
      {% endif %} 
      {% endcomment %}
      </a>
      {% if shop.customer_accounts_enabled %}
      <a href="javascript:;" class="dropdown-toggle custom-toggle visible-ms visible-xs pull-right navbar-cart" aria-expanded="true"><span class="icons"><i class="fa fa-user"></i></span></a>
      <div class="dropdown-grid-wrapper">
        <div class="dropdown-menu custom-toggle-div no-padding animated fadeInDown col-xs-12 col-sm-5 col-md-4 col-lg-3" role="menu">
          {% include 'menu-account' %}
        </div>
      </div>
      {% endif %}
      <a href="javascript:void(0);" data-href="/cart" class="visible-ms visible-xs pull-right navbar-cart cart-popup"><div class="cart-icon"><span class="count{% if cart.item_count < 1 %} hidden{% endif %}">{{ cart.item_count }}</span><i class="fa fa-shopping-cart"></i></div></a>
      <a href="/search" class="visible-ms visible-xs pull-right navbar-cart"><div class="cart-icon"><i class="fa fa-search"></i></div></a>
      {% if section.settings.header_style != 'header1' %}
      <div class="visible-ms visible-xs">
        {% endif %}
        {% if section.settings.logo != blank %}
        <a class="navbar-brand" href="/" itemprop="url">
          <!--<img src="{{ section.settings.logo | img_url: '550x' }}" alt="{{ shop.name }}" itemprop="logo" />-->
          <img src="{{ 'logo.svg' | asset_url }}"  alt="{{ shop.name }}" itemprop="logo"> 
        </a>
        {% else %}
        <a class="navbar-brand text-logo" href="/" itemscope itemtype="http://schema.org/Organization">{{ shop.name }}</a>
        {% endif %}
        {% if section.settings.header_style != 'header1' %}
      </div><!-- ./visible-ms visible-xs -->
      {% endif %}
    </div>
    <!-- main menu -->
    
    <nav class="wsmenu">
      <ul class="mobile-sub mega_menu wsmenu-list header_left_mobile">
        <li class="mobile-menu-close-li">
          <div class="mobilemenu-close-b"></div>
        </li>
        {% for link in linklists[section.settings.header_main_linklist].links %}
        {% assign child_list_handle = link.title | handle %}

        {% assign child_list_handle = child_list_handle | replace: '-span', '' %}
        
        {% assign child_list_handle_size = linklists[child_list_handle].links.size %}

        {% assign size_of_grand_child = "" %}
        {% assign size_of_grand_child_sum = 0 %}
        {% for childlink_toget_count in linklists[child_list_handle].links %}
        {% assign grand_child_list_handle_toget_count = childlink_toget_count.title | handle %}
        {% assign grand_child_list_handle_toget_count = grand_child_list_handle_toget_count | replace: '-span', '' %}
        {% capture var %} child_list_handle_size_{{forloop.index}} {% endcapture %}
        {% assign size_of_grand_child = size_of_grand_child | append : linklists[grand_child_list_handle_toget_count].links.size %}
        {% assign size_of_grand_child_sum = size_of_grand_child_sum | plus: linklists[grand_child_list_handle_toget_count].links.size %}
        {% if forloop.last == false %}
        {% assign size_of_grand_child = size_of_grand_child | append : "|" %}
        {% endif %}
        {% endfor %}
        {% assign size_of_grand_child_obj = size_of_grand_child | split: "|" %}
        {% if child_list_handle_size == 2 %}
        {% assign class_menu = "halfmenu" %}
        {% assign class_child_menu = "col-lg-6 col-md-6 col-sm-6 mb20d" %}
        {% elsif child_list_handle_size == 3 %}
        {% assign class_menu = "quartermenu" %}
        {% assign class_child_menu = "col-lg-4 col-md-4 col-sm-4 mb20d" %}
        {% elsif child_list_handle_size >= 4 %}
        {% assign class_menu = "" %}
        {% assign class_child_menu = "col-lg-3 col-md-3 col-sm-3 mb20d" %}
        {% endif %}

        {% if link.title contains "Brands" %}
        <!--li style="text-align:left;"></li-->
        {% assign brands = '' %}
        {% for brand in linklists.brands-list.links %}
        	{% for collection in collections %}
              {% if brand.type == 'collection_link' and brand.object.products_count != 0 and brand.title == collection.title %}
                  {% assign brand_title = brand.title | escape %}
                  {% assign brands = brands | append: brand_title %}
                  {% assign brands = brands | append: ',' %}	
              {% endif %}
        	{% endfor %}
        {% endfor %}
        {% assign brands = brands | split: ',' %}
        {% assign brands = brands | sort %}
        <li style="text-align:left;">
          <a href="{{ link.url }}" class="twin">Brands<br>品牌<span class="arrow"></span></a>
          <div class="megamenu clearfix {% if brands.size > 4 and brands.size == 2 %}halfdiv{% else %}{{class_menu}}{% endif %}">
            <ul>
              {% for brand_title in brands %}
                {% for brand in linklists.brands-list.links %}
              		{% assign _brand_title = brand.title | escape %}
              		{% if _brand_title == brand_title %}
                		<li class="{{class_child_menu}} link-list"><a href="{{ brand.url }}">{{ brand.title | escape }}</a></li>
              			{% break %}
              		{% endif %}
                {% endfor %}
             {% endfor %}
            </ul>
          </div>
        </li>
        {% elsif linklists[child_list_handle].links != blank %}
        <li>
          <a href="{{ link.url }}"{% if linklists[child_list_handle].links != blank %}class="twin"{% endif %}>
            {{ link.title }}<span class="arrow"></span>
          </a>
          {% if size_of_grand_child_sum == 0 %}
          <ul class="wsmenu-submenu ">
            {% for childlink in linklists[child_list_handle].links %}
            <li><a data-delay="500" href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
            {% endfor %}
          </ul>
          {% else %}
          <div class="megamenu clearfix {% if child_list_handle_size > 4 and child_list_handle_size == 2 %}halfdiv{% else %}{{class_menu}}{% endif %}">
            <ul class="wsmenu-sub-list">
              {% assign child_list_handle_size_handler = child_list_handle_size %}
              {% for childlink in linklists[child_list_handle].links %} {% comment %} sublist title loop {% endcomment %}
              {% assign grand_child_list_handle = childlink.title | handleize %}
              {% assign grand_child_list_handle = grand_child_list_handle | replace: '-span', '' %}
              
              <li class="{{class_child_menu}} link-list parent_sub_list"><h5><a href="{{ childlink.url }}">{{ childlink.title }}</a></h5>
                {% if linklists[grand_child_list_handle].links != blank %}
                <ul>
                  {% assign product_counter = 0 %}
                  
                  {% for grandchildlink in linklists[grand_child_list_handle].links %} {% comment %} sublist menu loop {% endcomment %}
                  {% assign grand_grand_child_list_handle = grandchildlink.title | handleize %}
                  {% assign grand_grand_child_list_handle = grand_grand_child_list_handle | replace: '-span', '' %}
                  <!-- collections here -->
                  {% if grandchildlink.object.products_count > 0 %}
                  <li class="col-lg-12 col-md-12 col-sm-12 link-list">
                    <a href="{{ grandchildlink.url }}">{{ grandchildlink.title | escape }}</a>
                    {% if linklists[grand_grand_child_list_handle].links != blank %}
                    <ul class="level hidden-mu">
                      {% for grandgrandchildlink in linklists[grand_grand_child_list_handle].links %}
                      <li class="{{class_child_menu}} link-list"><a href="{{ grandgrandchildlink.url }}">{{ grandgrandchildlink.title | escape }}</a></li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </li>
                  
                  {% assign product_counter = product_counter | plus: 1 %}
                  
                  {% endif %}
                  {% endfor %}
                  
                  {% if product_counter == 0 %}
                  {% assign child_list_handle_size_handler = child_list_handle_size_handler | minus: 1 %}
                  <li><input type="text" class="available_number_of_nav" value="{{ child_list_handle_size_handler }}"></li>
                  {% endif %}
                  
                </ul>
              </li>

              {% endif %}
              {% endfor %}
            </ul>
          </div>
          {% endif %}   
        </li>
        {% else %}
          {% if link.title == "Brands 品牌" %}
          {% comment %}<li style="text-align:left;"><a href="{{ link.url }}">Brands<br>品牌</a></li>{% endcomment %}
          {% elsif link.title contains "Contact us" %}
        	<li class="single_menu_custom hidden-only-in-desktop"><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% else %}
			<li class="single_menu_custom"><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endif %}
        {%else%}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endif %}
        {% endfor %}
        {% comment %}
        {% if settings.show_multiple_currencies %}
        <li class="single_menu_custom currency-switcher">
          <a href="#">
            <span>
              Currency: 
              {% include 'currencies-switcher2' %}
            </span>
            <span>&nbsp;</span>
          </a>
        </li>
        {% endif %}
        {% endcomment %}
      </ul>
    </nav>
    <ul class="hidden-xs nav navbar-nav navbar-right header_right">
      {% if customer %}
      <li class="after_login_message">
      Welcome Back {{ customer.first_name }}!
      </li>
      {% endif %}
      <li class="dropdown-grid no-open-arrow">
        {% if section.settings.search_style == 'bar' %}
        <div class="fixed-search">    
          {% include 'menu-search' %}
        </div>
        {% else %}
        <a data-toggle="dropdown" href="javascript:;" class="dropdown-toggle" aria-expanded="false"><span class="icons"><i class="fa fa-search"></i></span></a>
        <div class="dropdown-grid-wrapper" role="menu">
          <div class="dropdown-menu fixed_menu col-sm-4 col-lg-3 animated fadeInDown pl-pr-15">
            {% include 'menu-search' %}
          </div>
        </div>
        {% endif %}
      </li>
      <li class="dropdown-grid no-open-arrow ">
        <a data-toggle="dropdown" data-href="/cart" href="javascript:void(0);" class="dropdown-toggle cart-popup" aria-expanded="true"><div class="cart-icon"><span class="count{% if cart.item_count < 1 %} hidden{% endif %}">{{ cart.item_count }}</span><i class="fa fa-shopping-cart"></i></div></a>
        <div class="dropdown-grid-wrapper hidden">
          <div class="dropdown-menu no-padding animated fadeInDown col-xs-12 col-sm-9 col-md-7" role="menu">
            {% include 'menu-cart' %}
          </div>
        </div>
      </li>
      {% if shop.customer_accounts_enabled %}
      <li class="dropdown-grid no-open-arrow">
        <a data-toggle="dropdown" href="javascript:;" class="dropdown-toggle" aria-expanded="true"><span class="icons"><i class="fa fa-user"></i></span></a>
        <div class="dropdown-grid-wrapper">
          <div class="dropdown-menu no-padding animated fadeInDown col-xs-12 col-sm-5 col-md-4 col-lg-3" role="menu">
            {% include 'menu-account' %}
          </div>
        </div>
      </li>
      {% endif %}
        {% if settings.show_multiple_currencies %}
        {% include 'currencies-switcher' %}
        {% endif %}
    </ul>
  </nav>
</div>