<div id="nav">
  <nav class="navbar" role="navigation">
    <div class="navbar-header">
      <a href="#" class="visible-ms visible-xs pull-right navbar-cart" id="wsnavtoggle"><div class="cart-icon"><i class="fa fa-bars"></i></div></a>
      <a href="javascript:void(0);" data-href="/cart" class="visible-ms visible-xs pull-right navbar-cart cart-popup"><div class="cart-icon"><span class="count{% if cart.item_count < 1 %} hidden{% endif %}">{{ cart.item_count }}</span><i class="fa fa-shopping-cart"></i></div></a>
      <a href="/search" class="visible-ms visible-xs pull-right navbar-cart"><div class="cart-icon"><i class="fa fa-search"></i></div></a>
      {% if section.settings.header_style != 'header1' %}
      <div class="visible-ms visible-xs">
        {% endif %}
        {% if section.settings.logo != blank %}
        <a class="navbar-brand" href="/" itemprop="url">
          <img src="{{ section.settings.logo | img_url: '550x' }}" alt="{{ shop.name }}" itemprop="logo" />
        </a>
        {% else %}
        <a class="navbar-brand text-logo" href="/" itemscope itemtype="http://schema.org/Organization">{{ shop.name }}</a>
        {% endif %}
        {% if section.settings.header_style != 'header1' %}
      </div><!-- ./visible-ms visible-xs -->
      {% endif %}
    </div>
    <!-- code here -->
    <nav class="wsmenu clearfix multi-drop">
      <ul class="mobile-sub wsmenu-list">
        {% for link in linklists[section.settings.header_main_linklist].links %}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
        <li  class="has-submenu"><a href="{{ link.url }}">{{ link.title | escape }}<span class="arrow"></span></a>
          <ul class="wsmenu-submenu">
            {% for childlink in linklists[child_list_handle].links %}
            {% assign grand_child_list_handle = childlink.title | handleize %}
            {% if linklists[grand_child_list_handle].links != blank %}
            <li class="has-submenu-sub"><a href="{{ childlink.url }}">{{ childlink.title | escape }}<span class="left-arrow"></span></a>
              <ul class="wsmenu-submenu-sub">
                {% for grandchildlink in linklists[grand_child_list_handle].links %}
                {% assign grand_grand_child_list_handle = grandchildlink.title | handleize %}   
                {% if linklists[grand_grand_child_list_handle].links != blank %}
                <li class="has-submenu-sub-sub"><a href="{{ grandchildlink.url }}">{{ grandchildlink.title | escape }}<span class="left-arrow"></span></a>
                  <ul class="wsmenu-submenu-sub-sub">
                    {% for grandgrandchildlink in linklists[grand_grand_child_list_handle].links %}
                    <li><a href="{{ grandgrandchildlink.url }}">{{ grandgrandchildlink.title | escape }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                {% else %}
                <li><a href="{{ grandchildlink.url }}">{{ grandchildlink.title | escape }}</a></li>
                {%endif%} 
                {% endfor %}
              </ul>
            </li>
            {% else %}
            <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
            {%endif%}
            {% endfor %}
          </ul>  
        </li>
        {% else %}
        <li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
        {%endif%}
        {% endfor %}
      </ul>
    </nav>
    <ul class="hidden-xs nav navbar-nav navbar-right">
      <li class="dropdown-grid no-open-arrow">
        <a data-toggle="dropdown" href="javascript:void(0);" data-href="/cart" class="dropdown-toggle cart-popup" aria-expanded="true"><div class="cart-icon"><span class="count{% if cart.item_count < 1 %} hidden{% endif %}">{{ cart.item_count }}</span><i class="fa fa-shopping-cart"></i></div></a>
        <div class="dropdown-grid-wrapper hidden">
          <div class="dropdown-menu no-padding animated fadeInDown col-xs-12 col-sm-9 col-md-7" role="menu">
            {% include 'menu-cart' %}
          </div>
        </div>
      </li>
      {% if shop.customer_accounts_enabled %}
      <li class="dropdown-grid no-open-arrow">
        <a data-toggle="dropdown" href="javascript:;" class="dropdown-toggle" aria-expanded="true"><span class="icons"><i class="fa fa-user"></i></span></a>
        <div class="dropdown-grid-wrapper">
          <div class="dropdown-menu no-padding animated fadeInDown col-xs-12 col-sm-5 col-md-4 col-lg-3" role="menu">
            {% include 'menu-account' %}
          </div>
        </div>
      </li>
      {% endif %}
      <li class="dropdown-grid no-open-arrow">
        {% if section.settings.search_style == 'bar' %}
        <div class="fixed-search">    
          {% include 'menu-search' %}
        </div>
        {% else %}
        <a data-toggle="dropdown" href="javascript:;" class="dropdown-toggle" aria-expanded="false"><span class="icons"><i class="fa fa-search"></i></span></a>
        <div class="dropdown-grid-wrapper" role="menu">
          <div class="dropdown-menu fixed_menu col-sm-4 col-lg-3 animated fadeInDown pl-pr-15">
            {% include 'menu-search' %}
          </div>
        </div>
        {% endif %}
      </li>
    </ul>
  </nav>
</div>