{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available  %}
  {% assign sold_out = false %}
{% endif %}
<div class="main_box{% if section.settings.collection_overlay %} quick-view-overlay {% endif %}">
  <div class="box_1">
    {% if on_sale %}
    <div class="on-sale">{{ 'products.product.sale' | t }}</div>
    {% endif %}
    {% if sold_out %}
    <div class="sold-out">{{ 'products.product.sold_out' | t }}</div>
    {% endif %}
    <div class="product-image">
      <a href="{{ product.url | within: collection }}"><img src="{{ product.featured_image.src | product_img_url: '800x' }}" alt="{{ product.featured_image.alt | escape }}"></a>
    </div>
    {% if section.settings.collection_overlay %}
      <div class="overlay hidden-sm hidden-xs">
        {% include 'product-quick-view-btn' qvp:product %}
      </div>
    {% endif %}
  </div>
  <div class="desc">
        
    {% assign truncateBy = product.title | split: ', ' %}
    {% assign product_counter = 0 %}
    {% assign truncate_size = truncateBy | size %}
    
    
    <!--Insert to cure the mislignment of the product box-->
    
    <h5 class="title__display-on-desktop-only">
      <a href="{{ product.url | within: collection }}">
        {{ product.title | truncate: 50 }}
        
        {% comment %}
        {% for product_split in truncateBy %}
          {% assign product_counter = product_counter | plus: 1 %}
          {% if product_counter >= 3 and truncate_size != 3 and truncate_size != product_counter%}
              ..., 
          {% elsif truncate_size == product_counter %}
              {{ product_split }}
          {% else %}
              {{ product_split | append: ', '}}
          {% endif %}
        {% endfor %}
        
        {% if collection_nav or home_product == 1 %}
        	{{ product.title }}
        {% else %}
        	{{ product.title | truncate: 30 }}
        {% endif %}
        {% endcomment %}
      </a>
    </h5>
    
<!--
    <h5 class="title__display-on-desktop-only">
      <a href="{{ product.url | within: collection }}">
        {{ product.title }}
        {% comment %}
        {% if collection_nav or home_product == 1 %}
        	{{ product.title }}
        {% else %}
        	{{ product.title | truncate: 30 }}
        {% endif %}
        {% endcomment %}
      </a>
    </h5>
-->
    
    <h5 class="title__display-on-mobile-only"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h5>
    {% if section.settings.show_grid_type %}
    <p>{{ product.type }}</p>
    {% endif %}
    <div class="price"><span class="money">{% if product.price_varies %}{{ 'products.product.price_from' | t }}{% endif %} {{ product.price | money }} {% if on_sale %}</span><span class="compare-price money">{{ product.compare_at_price | money }}</span>{% endif %}</div>
    
    <div class="add_to_cart_btn">
      <br>
      <form id="add-item-{{ product.variants.first.id }}" method="post" action="/cart/add">
     <!-- <label for="quantity">Qty: </label>--> 
    <input min="1" type="hidden" id="quantity" name="quantity" value="1" />
    <input id="product-select"  type="hidden" name="id" value="{{ product.variants.first.id }}" />

    <input type="submit" value="Add to Cart" class="modal-button" id="{{ product.variants.first.id }}" />
      <div id="cart-animation" style="display:none">1</div>
  </form> 
    </div>
    
    
  </div>
  {% if section.settings.collection_overlay %}
  {% include 'product-quick-view' qvp:product %}
  {% endif %}
</div>