{% assign on_sale = false %}
{% if item.available and item.compare_at_price > item.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if item.available  %}
  {% assign sold_out = false %}
{% endif %}

<!--div class="col-md-3 col-sm-4 col-ms-6 mb30 element"-->
<div class="col-cus-md-5 col-sm-6 col-xs-12 element mb30 collection-hldr">
  <div class="main_box gleandra">
    <div class="box_1">
      {% if on_sale %}
      <div class="on-sale">{{ 'products.product.sale' | t }}</div>
      {% endif %}
      {% if sold_out %}
      <div class="sold-out">{{ 'products.product.sold_out' | t }}</div>
      {% endif %}
      <div class="product-image">
        <a href="{{ item.url }}" title="{{ item.title | escape }}">{{ item.featured_image.src | product_img_url: '800x' | img_tag: item.featured_image.alt }}</a>
      </div>
      <div class="hidden jason">{{ settings.show_collection_overlay }} {{ settings.collection_overlay }}</div>
      {% if settings.show_collection_overlay and settings.collection_overlay == 'cart-info' %}
      <form method="post" action="/cart/add">
        <input type="hidden" name="id" value="{{ item.variants.first.id }}" />
          <div class="overlay hidden-sm hidden-xs"> 
            {% if item.available and item.variants.size == 1 %}
            <input type="submit" value="{{ 'products.product.add_to_cart' | t }}" class="btn_c cart_btn_1" />
            <a href="{{ item.url | within: collection }}" class="info_btn">{{ 'products.product.more_info' | t }}</a>
            {% else %}
            <a href="{{ item.url | within: collection }}" class="btn_c more_btn">{{ 'products.product.select_options' | t }}</a>
            {% endif %}
          </div>
        </form>
        {% elsif settings.show_collection_overlay and settings.collection_overlay == 'quick-view' %}
        <div class="overlay hidden-sm hidden-xs">
          {% include 'product-quick-view-btn' qvp:item %}
        </div>
        {% endif %}
      </div>
      <div class="desc">
        <h5><a href="{{ item.url }}">{{ item.title }}</a></h5>
        {% if settings.show_grid_type %}
        <p>{{ item.type }}</p>
        {% endif %}
        <div class="price">{% if item.price_varies %}{{ 'products.product.price_from' | t }}{% endif %} {{ item.price | money }} {% if on_sale %}<span class="compare-price">{{ item.compare_at_price | money }}</span>{% endif %}</div>
        <div class="add_to_cart_btn">
          <br>
          <form id="add-item-{{ item.variants.first.id }}" method="post" action="/cart/add">
            <!-- <label for="quantity">Qty: </label>--> 
            <input min="1" type="hidden" id="quantity" name="quantity" value="1" />
            <input id="product-select"  type="hidden" name="id" value="{{ item.variants.first.id }}" />
            <input type="submit" value="Add to Cart" class="modal-button" id="{{ item.variants.first.id }}" />
            <div id="cart-animation" style="display:none">1</div>
          </form> 
        </div>
      </div>
    </div>
  </div>
  {% if settings.show_collection_overlay and settings.collection_overlay == 'quick-view' %}
  {% include 'product-quick-view' qvp:item %}
  {% endif %}