{% assign on_sale = false %}
{% if item.available and item.compare_at_price > item.price %}
{% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if item.available  %}
{% assign sold_out = false %}
{% endif %}

<div class="search_result">
  <div class="main_box">
    <div class="box_1">
      
    {% if item.object_type == 'article' %}
      {% if item.image %}
      <div class="col-sm-3">
        <a href="{{ item.url }}" title="{{ item.title | escape }}">{{ item | image_url: 'large' | img_tag: item.title }}</a>
      </div>
      <div class="col-sm-9">
        <div class="product-details">
          <h2><a href="{{ item.url }}">{{ item.title }}</a></h2>
          <p>{{ item.content | strip_html | truncatewords:30 }}</p>
        </div>
      </div>
      {% else %}
      <div class="col-sm-12">
        <div class="rte">
          <h2><a href="{{ item.url }}">{{ item.title }}</a></h2>
          <p>{{ item.content | strip_html | truncatewords:50 }}</p>
          <p><a href="{{ item.url }}" class="btn_c">{{ 'blogs.article.read_more' | t }}</a></p>
        </div>
      </div>
      {% endif %}
    {% else %}
      {% if item.featured_image %}
      <div class="col-sm-3">
        <a href="{{ item.url }}" title="{{ item.title | escape }}">{{ item.featured_image.src | product_img_url: '800x' | img_tag: item.featured_image.alt }}
        </a>
      </div>
      <div class="col-sm-9">
        <div class="product-details">
          {% if on_sale %}
          <div class="on-sale">{{ 'products.product.sale' | t }}</div>
          {% endif %}
          {% if sold_out %}
          <div class="sold-out">{{ 'products.product.sold_out' | t }}</div>
          {% endif %}
          <h2><a href="{{ item.url | within: collection }}">{{ item.title }}</a></h2>
          <p>{{ item.type }}</p>
          <p>{{ item.content | strip_html | truncatewords:30 }}</p>
          <div class="price">{% if item.price_varies %}{{ 'products.product.price_from' | t }}{% endif %} {{ item.price | money }} {% if on_sale %}<span class="compare-price">{{ item.compare_at_price | money }}</span>{% endif %}</div>

          <form method="post" action="/cart/add">
            <input type="hidden" name="id" value="{{ item.variants.first.id }}" /> 
            {% if item.available and item.variants.size == 1 %}
            <input type="submit" value="{{ 'products.product.add_to_cart' | t }}" class="btn_c" /> 
            <a href="{{ item.url | within: collection }}" class="btn_c info_btn">{{ 'products.product.more_info' | t }}</a>
            {% else %}
            <a href="{{ item.url | within: collection }}" class="btn_c">{{ 'products.product.select_options' | t }}</a>
            {% endif %}

          </form>
        </div>
      </div>
      {% else %}
      <div class="col-sm-12">
        <div class="rte">
          <h2><a href="{{ item.url }}">{{ item.title }}</a></h2>
          <p>{{ item.content | strip_html | truncatewords:50 }}</p>
          <p><a href="{{ item.url }}" class="btn_c">{{ 'blogs.article.read_more' | t }}</a></p>
        </div>
      </div>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>