{% assign _int_h_p_c = 5 %}
{% case _int_h_p_c %}
{% when 1 %}
{% assign grid_item_width = 12 %}
{% when 2 %}
{% assign grid_item_width = 6 %}
{% when 3 %}
{% assign grid_item_width = 4 %}
{% else %}
{% assign grid_item_width = 3 %}
{% endcase %}
{% if false and _int_h_p_c < 4 and section.settings.recent-post-blog != blank %}
{% assign counter = 1 %}
<div class="container" data-section-id="{{ section.id }}" data-section-type="blog-section"> 
  <div class="h_row_content" data-animation="fadeInUp">
    <div class="clearfix">  
        <h3>{{ section.settings.title }}</h3>   
    </div>
    <div class="blog_c home_recentpost ideas-hover">
      <div class="row">
        {% for article in blogs[section.settings.recent-post-blog].articles limit : section.settings.home_post_count %}
        <div class="col-sm-{{ grid_item_width }}">
          <div class="blog_blk red5 clearfix animated" data-animation="rollIn">
            {% if article.image %}
            <a href="{{ article.url }}">
              <div class="box">
                <figure class="effect-chico">
                  <img src="{{ article | img_url: '800x' }}" alt="{{ article.title }}" />
                  <figcaption></figcaption>
                </figure>
              </div> 
            </a>
            {% endif %}

            <div class="rte clearfix">
              <h2 class="title__display-on-desktop-only"><a href="{{ article.url }}">{{ article.title | truncate: 30 }}</a></h2>
              <h2 class="title__display-on-mobile-only"><a href="{{ article.url }}">{{ article.title }}</a></h2>
              {% if section.settings.home_blog_excerpt %}
                  {{ article.excerpt_or_content | truncatewords:100 }}
              {% endif %}            
            </div>
            {% if section.settings.home_blog_excerpt %}
            <div class="read-more"><a href="{{ article.url }}" class="btn_c">{{ 'blogs.article.read_more' | t }}</a></div>
            {% endif %}
            {% assign published_at = article.published_at | date: '%b %d, %Y' %}
            <div class="tag_c clearfix">
              <ul>
                <li><span class="fa fa-calendar"></span><span>{{ 'blogs.article.date_html' | t: date: published_at }}</span></li>
                <li><span class="fa fa-user"></span>{{ article.author }}</li>
              </ul>
            </div><!-- /.tags_c -->
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% elsif _int_h_p_c >= 1 and section.settings.recent-post-blog != blank %}
<div class="container" data-section-id="{{ section.id }}" data-section-type="blog-section"> 
  <div class="h_row_content" data-animation="fadeInUp">
    <div class="smh-blog">
      <div class="row blog-row-nomarginpadding">
        <!--<div class="col-lg-12 blog-sections blogs-full-width">
          <h3>{{ section.settings.title }}</h3>
        </div>-->
        
        {% for article in blogs[section.settings.recent-post-blog].articles limit : _int_h_p_c %}
        {% assign published_at = article.published_at | date: '%b %d, %Y' %}
        {% assign published_at = 'blogs.article.date_html' | t: date: published_at %}
        
          {% assign url = article.url | split: '/' %}
          {% for blog_handle in url %}
        	{% if counter == 2 %}
            <div class="col-lg-12 blog-sections blogs-full-width">
              <h3><a href="{{ blogs[blog_handle].url }}">{{ section.settings.title }}</a></h3>
            </div>
        	{% endif %}
        
        	{% assign counter = counter | plus: 1 %}
          {% endfor %}
        
        {% if forloop.index == 1 %}
        <div class="col-lg-4 col-sm-4 col-xs-12 blog_c home_recentpost ideas-hover blogs-full-width">
          <div class="blog_blk red5 clearfix animated" data-animation="rollIn">
            <article class="special-smh">
              {% if article.image %}
              <a href="{{ article.url }}">
                <div class="box">
                  <figure class="effect-chico">
                    <img src="{{ article | img_url: '800x' }}" alt="{{ article.title }}" />
                    <figcaption></figcaption>
                  </figure>
                </div>
              </a>
              {% endif %}
              <div class="story_wof">
                <h4 class="title title__display-on-desktop-only"><a href="{{ article.url }}">{{ article.title }} {%comment%}{{ article.title | truncate: 30 }}{%endcomment%}</a></h4>
                <h4 class="title title__display-on-mobile-only"><a href="{{ article.url }}">{{ article.title }}</a></h4>
                <div class="hide-in-mobile">
                  <ul>
                    <li><span class="fa fa-calendar"></span><span><time datetime="">{{ published_at }}</time></span></li>
                    <li><span class="fa fa-user">&nbsp;</span>{{ article.author }}</li>
                  </ul>
                </div>
              </div>
            </article>
          </div>
        </div>
        {% else %}
        {% if forloop.index == 2 or forloop.index == 4 %}
        <div class="col-lg-4 col-sm-4 col-xs-12 blog_c home_recentpost ideas-hover blogs-full-width">
        {% endif %}
          <div class="blog_blk red5 clearfix animated" data-animation="rollIn">
            <article>
              {% if article.image %}
              <a href="{{ article.url }}">
                <div class="box">
                  <figure class="effect-chico">
                    <img src="{{ article | img_url: '800x' }}" alt="{{ article.title }}" />
                    <figcaption></figcaption>
                  </figure>
                </div>
              </a>
              {% endif %}
              <div class="story_wof">
                <h4 class="title title__display-on-desktop-only"><a href="{{ article.url }}">{{ article.title }}{%comment%}{{ article.title | truncate: 30 }}{%endcomment%}</a></h4>
                <h4 class="title title__display-on-mobile-only"><a href="{{ article.url }}">{{ article.title }}</a></h4>
                <div class="hide-in-mobile">
                  <ul>
                    <li><span class="fa fa-calendar"></span><span><time datetime="">{{ published_at }}</time></span></li>
                    <li><span class="fa fa-user">&nbsp;</span>
						{% comment %}
							{{ article.author }}
						{% endcomment %}
                      		&nbsp;
					</li>
                  </ul>
                </div>
              </div>
            </article>
          </div>
        {% if forloop.index == 3 or forloop.index == 5 %}
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% else %}
{% include 'onboarding-blog' %}
{% endif %}
{% schema %}
  {
    "name": "Blog posts",
    "settings": [
      {
      "type": "text",
      "id": "title",
      "label": "Heading text",
      "default": "From the Blog"
      },	
	  {
        "type": "blog",
        "id": "recent-post-blog",
        "label": "Choose blog"
      },
      {
        "type": "select",
        "id": "home_post_count",
        "label": "Number of posts",
        "options": [
          {
            "value": "1",
            "label": "One"
          },
          {
            "value": "2",
            "label": "Two"
          },
          {
            "value": "3",
            "label": "Three"
          },
          {
            "value": "4",
            "label": "Four"
          }
        ],
        "default": "4"
      },
      {
        "type": "checkbox",
        "id": "home_blog_excerpt",
        "label": "Show blog excerpt",
        "info": "If unchecked, just the title of the blog post will be shown."
      }
    ],
    "presets": [
        {
          "name": "Blog posts",
          "category": "Blog"
        }
      ]
  }
{% endschema %}
