<div data-section-id="{{ section.id }}" data-section-type="instagram-feed-section" class="instagram-container">
<div class="container">
<div class="h_row_content h_row_5 animated mb15" data-animation="fadeInUp">
  <div class="clearfix">
    <h3 class="mb15">{{ section.settings.title }}</h3>   
  </div>
    {% if section.settings.instagram_client_id != blank %}
	 <div id="Instafeed-{{ section.id }}" class="instagram-grid" data-count="{{ section.settings.instagram_number | strip }}" data-access-token="{{ section.settings.instagram_client_id | strip }}" data-grid="instagram-image {{ section.settings.instagram_grid_width }} {{ section.settings.instagram_grid_width_tablet }} {{ section.settings.instagram_grid_width_mobile}}"></div>
  {% else %}
  	<div class="instagram-grid">
  	  {% capture imgCount %}{{ section.settings.instagram_number }}{% endcapture %}
   	  {% for i in (1..imgCount) %}	
    <div class="gleandra {{ section.settings.instagram_grid_width }} {{ section.settings.instagram_grid_width_tablet }} {{ section.settings.instagram_grid_width_mobile}} intagram-placeholder">
      <a href="#">
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
       <i class="fa fa-instagram" aria-hidden="true"></i> 
      </a>
    </div>
	  {% endfor %}
   </div>
    {% endif %}
  </div>
</div>
</div>
{% schema %}
  {
    "name": "Instagram feed",
    "settings": [
	  {
        "type": "text",
        "id": "title",
        "label": "Heading text",
        "default": "Instagram"
      },	
      {
        "type": "text",
        "id": "instagram_client_id",
        "label": "Access token",
        "info": "[Get your access token](http:\/\/www.milehighthemes.com\/pages\/instagram-integration)"
      },
      {
        "type": "select",
        "id": "instagram_number",
        "label": "Total images",
        "options": [
          {
            "value": "3",
            "label": "3"
          },
		  {
            "value": "4",
            "label": "4"
          },
		  {
            "value": "5",
            "label": "5"
          },
		 {
            "value": "6",
            "label": "6"
          },
          {
            "value": "8",
            "label": "8"
          },
		 {
            "value": "9",
            "label": "9"
          },
		 {
            "value": "10",
            "label": "10"
          },
          {
            "value": "12",
            "label": "12"
          },
		  {
            "value": "15",
            "label": "15"
          },
          {
            "value": "16",
            "label": "16"
          },
		 {
            "value": "18",
            "label": "18"
          },
          {
            "value": "20",
            "label": "20"
          },
          {
            "value": "24",
            "label": "24"
          },
		  {
            "value": "25",
            "label": "25"
          }
        ],
        "default": "8"
      },
	  {
        "type": "header",
        "content": "Photo grid"
      },
	  {
      "type": "select",
      "id": "instagram_grid_width",
      "label": "Desktop",
      "default": "col-md-3",
      "options": [
        { "value": "col-md-6", "label": "2 per row"},
        { "value": "col-md-4", "label": "3 per row"},
        { "value": "col-md-3", "label": "4 per row"},
        { "value": "col-md-15", "label": "5 per row"},
        { "value": "col-md-2", "label": "6 per row"}
      ]
     },
	 {
      "type": "select",
      "id": "instagram_grid_width_tablet",
      "label": "Tablet",
      "default": "col-sm-3",
      "options": [
        { "value": "col-sm-6", "label": "2 per row"},
        { "value": "col-sm-4", "label": "3 per row"},
        { "value": "col-sm-3", "label": "4 per row"}
      ]
    },
	{
      "type": "select",
      "id": "instagram_grid_width_mobile",
      "label": "Mobile",
      "default": "col-xs-3",
      "options": [
        { "value": "col-xs-6", "label": "2 per row"},
        { "value": "col-xs-4", "label": "3 per row"},
        { "value": "col-xs-3", "label": "4 per row"}
      ]
    }
	
    ],
    "presets": [
        {
          "name": "Instagram feed",
          "category": "Social media"
        }
      ]
  }
{% endschema %}


